h1 {
  margin-top: 70px;  /* This pushes the h1 down to account for the nav bar */
  color: #800080;
}

body {
  /*background-color: #404040;*/
  
  padding-left: 50px;
  background-image: url('/Users/tangyunxi/Library/CloudStorage/OneDrive-Personal/文档/WUSTL/activities/HackWashu23/skyscraping/skyscraping/public/nightsky.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

body, h1, h2, p, label {
  color: #f5f5f5; 
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
  overflow: hidden;
}

.curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: orange;
  animation: curtainEffect 3s forwards;
}

.curtain.left {
  left: 0;
  animation-name: curtainLeftEffect;
}

.curtain.right {
  right: 0;
  animation-name: curtainRightEffect;
}

.ball {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.ball.red {
  background-color: red;
  left: 45%;
  animation: moveLeft 3s forwards;
}

.ball.yellow {
  background-color: yellow;
  right: 45%;
  animation: moveRight 3s forwards;
}

@keyframes moveLeft {
  0% {
    left: 40%;
  }
  100% {
    left: -10%;
  }
}

@keyframes moveRight {
  0% {
    right: 40%;
  }
  100% {
    right: -10%;
  }
}

@keyframes curtainLeftEffect {
  0% {
    left: 0;
  }
  100% {
    left: -50%;
  }
}

@keyframes curtainRightEffect {
  0% {
    right: 0;
  }
  100% {
    right: -50%;
  }
}

.nav {
  position: fixed; /* This ensures the bar is fixed at the top of the page */
  top: 0; /* Position it right at the top */
  left: 0; /* Align it to the left */
  width: 100%; /* Take the full width of the viewport */
  height: 60px; /* Height of the bar */
  background-color: #034694; /* Dark background */
  color: #fff; /* White text */
  display: flex; /* Flexbox for centering contents */
  align-items: center; /* Vertically center the content */
  justify-content: flex-start; /* Aligns content to the left */
  padding-left: 20px;  /* Adds some padding to the left for spacing */
  font-size: 24px;  /* Bigger font size */
  font-weight: bold;  /* Bolder font weight */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); 
  z-index: 1000; 
}

/* Import a Google Font (just an example, you can choose any font you like) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

/* Style for the header centered horizontally */
.centered-header {
  text-align: center;
  font-family: 'Playfair Display', serif; /* This is the font we imported */
  font-size: 3.8rem; 
  color: #ffffff; /* Adjust the color as needed */
  padding-top: 100px; /* Add some distance from the navigation bar */
}


.upload-section {
  border: 2px dashed #aaa;
  padding: 20px;
  width: 480px;
  height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;  /* Stack child elements vertically */
  justify-content: center;
  margin-bottom: 20px;
}

.upload-label {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.uploaded-preview, .returned-preview {
  max-width: 100%;
  height: auto;
}

.photo {
  display: flex;
  flex-direction: column;
  /* justify-content: center; Centers content vertically */
  align-items: center;     /* Centers content horizontally */
  /* min-height: calc(100vh - 60px); Takes full viewport height minus the nav bar height */
  width: 100%;             /* Takes full viewport width */
  text-align: center;
  padding-left: 250px;
}

.returned-section {
  margin-top: 30px;
}

input[type="file"], button {
  background-color: #003366; /* Using the dark blue from the nav bar for consistency */
  color: #f5f5f5; /* Light gray text for contrast */
  border: none;
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}

input[type="file"]:hover, button:hover {
  background-color: #004080; /* Slightly different shade for hover effect */
}

button {
  background-color: #034694; 
  color: #404040; 
  border: none;
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

button:hover {
  background-color: #0258a4;  /* Slightly lighter blue for hover effect */
  color: #f5f5f5
}

